In [1]:
import pandas as pd

In [102]:
!ls

Business_case_dataset.csv RandomForestBayes.ipynb

In [3]:
raw_data = pd.read_csv("Business_case_dataset.csv")

In [4]:
raw_data.count()

873        14083
2160       14083
2160.1     14083
10.13      14083
10.13.1    14083
0          14083
8.91       14083
0.1        14083
0.2        14083
0.3        14083
0.4        14083
1          14083
dtype: int64

In [5]:
raw_data.head()

   873    2160  2160.1  10.13  10.13.1  0  8.91  0.1  0.2  0.3  0.4  1
0  611  1404.0    2808   6.66    13.33  1   6.5  0.0  0.0    0  182  1
1  705   324.0     324  10.13    10.13  1   9.0  0.0  0.0    1  334  1
2  391  1620.0    1620  15.31    15.31  0   9.0  0.0  0.0    0  183  1
3  819   432.0    1296   7.11    21.33  1   9.0  0.0  0.0    0    0  1
4  138  2160.0    2160  10.13    10.13  1   9.0  0.0  0.0    0    5  1

In [6]:
df = raw_data.dropna()
df.count()

873        14083
2160       14083
2160.1     14083
10.13      14083
10.13.1    14083
0          14083
8.91       14083
0.1        14083
0.2        14083
0.3        14083
0.4        14083
1          14083
dtype: int64

In [9]:
y= df.iloc[:,-1:].copy()
y.head()

   1
0  1
1  1
2  1
3  1
4  1

In [42]:
X = df.iloc[:,1:-1].copy()
X.head()

     2160  2160.1  10.13  10.13.1  0  8.91  0.1  0.2  0.3  0.4
0  1404.0    2808   6.66    13.33  1   6.5  0.0  0.0    0  182
1   324.0     324  10.13    10.13  1   9.0  0.0  0.0    1  334
2  1620.0    1620  15.31    15.31  0   9.0  0.0  0.0    0  183
3   432.0    1296   7.11    21.33  1   9.0  0.0  0.0    0    0
4  2160.0    2160  10.13    10.13  1   9.0  0.0  0.0    0    5

In [43]:
X_act= pd.get_dummies(X)
X_act.count()

2160       14083
2160.1     14083
10.13      14083
10.13.1    14083
0          14083
8.91       14083
0.1        14083
0.2        14083
0.3        14083
0.4        14083
dtype: int64

In [44]:
import numpy as np
y_act= np.array(y)
y_act= y_act.reshape((-1,))
y_act.shape

(14083,)

In [45]:
from sklearn.model_selection import train_test_split
#Perform the split
X_train, X_test, y_train, y_test = train_test_split(X_act, y_act, test_size=0.2, random_state=0)

In [46]:
from sklearn.ensemble import RandomForestClassifier
from skopt import BayesSearchCV

In [99]:
opt = BayesSearchCV(
    RandomForestClassifier(),
    {
        'n_estimators': (1, 200),
        #'max_depth' : [None,1,2,3,4,5,6],
        'min_samples_split' : [2],
        'min_samples_leaf' : [1],
        

    },
    n_iter=32,
    cv=5
)

In [100]:
opt.fit(X_train, y_train)

/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "
/Users/austinn/opt/miniconda3/lib/python3.7/site-packages/skopt/optimizer/optimizer.py:409: UserWarning: The objective has been evaluated at this point before.
  warnings.warn("The objective has been evaluated "

BayesSearchCV(cv=5, error_score='raise',
              estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                               class_weight=None,
                                               criterion='gini', max_depth=None,
                                               max_features='auto',
                                               max_leaf_nodes=None,
                                               max_samples=None,
                                               min_impurity_decrease=0.0,
                                               min_impurity_split=None,
                                               min_samples_leaf=1,
                                               min_samples_split=2,
                                               min_weight_fraction_leaf=0.0,
                                               n_estimators=100, n_jobs=None,
                                               oob_score=False,
                                               random_state=None, verbose=0,
                                               warm_start=False),
              fit_params=None, iid=True, n_iter=32, n_jobs=1, n_points=1,
              optimizer_kwargs=None, pre_dispatch='2*n_jobs', random_state=None,
              refit=True, return_train_score=False, scoring=None,
              search_spaces={'class_weight': [None], 'min_samples_leaf': [1],
                             'min_samples_split': [2],
                             'n_estimators': (1, 200)},
              verbose=0)

In [101]:
print("val. score: %s" % opt.best_score_)
print("test score: %s" % opt.score(X_test, y_test))

val. score: 0.9007633587786259
test score: 0.9055733049343273

In [41]:
opt.best_params_

OrderedDict([('class_weight', None), ('n_estimators', 18)])